header {
  /* background-color: var(--orange); */
}

/* top part of header */
.header-change-info {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-change-info p {
  font-size: 12px;
  color: var(--blue);
}

/* bottom part of header */
header nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100vh);
  background-color: var(--orange);
}

header nav ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  list-style: none;
}

header nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

/* disabling scrolling of the body in the background whilst the mobile navigation is open */
.disable-scroll {
  overflow: hidden;
}

.header-subcontainer {
  position: relative;
  max-width: 1600px;
  padding: 0 15px 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: var(--orange);
}

.header-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.header-logo-title {
  font-size: 16px;
  color: var(--blue);
  grid-area: logo;
}

.navigation-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  transition: all ease-in-out 200ms;
  color: var(--blue);
}

.navigation-link:hover {
  color: white;
}

.navigation-link.active {
  color: white;
}

.navigation-link-star {
  display: none;
}

.navigation-menu-button {
  grid-area: menu;
  display: block;
  outline: none;
  border: none;
  background: transparent;
  color: var(--blue);
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.navigation-menu-button:hover {
  color: white;
}

.navigation-menu-button-close {
  position: absolute;
  top: 24px;
  right: 16px;
}

.navigation-menu-button-icon {
  font-size: 20px;
}

.navigation-menu-button-icon-close {
  font-size: 26px;
}

.navigation-open {
  overflow: hidden;
  transform: none;
  transition: 0.7s;
  z-index: 4;
}

.navigation-closing {
  transition: 0.7s;
  z-index: 4;
}

/* right part of bottom header */
.header-icons-container {
  display: flex;
  align-items: center;
}

.header-icons-container img {
  width: 20px;
  height: 20px;
}

.search {
  margin: 5px;
  display: inline-flex;
  align-items: center;
  background-color: var(--yellow);
  color: var(--blue);
  padding: 8px;
  border-radius: 40px;
}

.search img {
  /* transition: all ease-in-out 200ms; */
}

.search:hover img {
  /* white */
  filter: invert(99%) sepia(87%) saturate(0%) hue-rotate(358deg)
    brightness(105%) contrast(101%);
  cursor: pointer;
}

.search :is(input, button) {
  color: inherit;
  border: none;
  background: transparent;
  outline: none;
  font-size: 14px;
}

.search__input {
  width: 0;
}

.mobile-search .search__input {
  width: 100%;
}

.mobile-search {
  box-shadow: 0 0 0 9999px #000000b0;
}

.search__button {
  display: grid;
  place-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: color 0.25s;
}

.search__button:hover {
  color: #e3e3e3;
}

.mobile-search {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

::placeholder {
  font: inherit;
  color: var(--blue);
}

.login-link-container {
  display: flex;
  align-items: center;
  color: var(--blue);
  cursor: pointer;
  margin: 0 5px;
  transition: all ease-in-out 200ms;
}

.login-link-container img {
  margin-right: 5px;
}

.login-link-container:hover > p {
  color: white;
  cursor: pointer;
}

.login-link-container:hover > img {
  /* white */
  filter: invert(99%) sepia(87%) saturate(0%) hue-rotate(358deg)
    brightness(105%) contrast(101%);
  cursor: pointer;
}

.wishlist-header-icon img {
  margin: 0 5px;
  transition: all ease-in-out 200ms;
}

.wishlist-header-icon:hover img {
  /* white */
  filter: invert(99%) sepia(87%) saturate(0%) hue-rotate(358deg)
    brightness(105%) contrast(101%);
  cursor: pointer;
}

.cart-header-icon {
  display: flex;
  align-items: center;
  color: var(--blue);
  transition: all ease-in-out 200ms;
}

.cart-header-icon img {
  margin: 0 0 0 5px;
}

.cart-header-icon:hover img {
  /* white */
  filter: invert(99%) sepia(87%) saturate(0%) hue-rotate(358deg)
    brightness(105%) contrast(101%);
  cursor: pointer;
}

.cart-header-icon:hover p {
  color: white;
}

.left-part-header {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-areas: "menu logo";
}

.hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-change-info p {
    font-size: 16px;
  }

  header nav {
    position: relative;
    margin-top: 15px;
    margin-left: 30px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
    background: transparent;
    transform: none;
    font-weight: 400;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
  }

  .header-subcontainer {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
  }

  .left-part-header {
    display: flex;
  }

  .header-logo-title {
    font-size: 20px;
  }

  .navigation-menu-button {
    display: none;
  }

  .navigation-link.active {
    color: white;
  }

  .navigation-link.active + .navigation-link-star {
    display: block;
    width: 12px;
    height: 12px;
  }

  .navigation-link-star img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-icons-container img {
    width: 25px;
    height: 25px;
  }

  .search__button {
    width: 25px;
    height: 25px;
  }

  .search__button img {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .navigation-link {
    font-size: 18px;
  }

  .header-logo-title {
    font-size: 24px;
  }

  .search__input {
    width: 0;
    transition: width 0.5s;
  }

  .search:focus-within input {
    width: 180px;
  }
}
