.contact-us-form-container > p {
  margin: 20px;
}

.contact-us-form {
  display: grid;
  row-gap: 15px;
  padding: 25px 20px;
  border-radius: 5px;
  background-color: var(--blue);
  box-shadow: hsla(133, 95%, 17%, 0.16) 0px 3px 6px,
    hsla(148, 91%, 13%, 0.23) 0px 3px 6px;
  color: white;
}

.contact-us-form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-us-form-label {
  font-weight: 600;
}

.contact-us-form-input,
.contact-us-form-select,
.contact-us-form-textarea {
  border: 1px solid var(--blue);
}

.contact-us-form-input,
.contact-us-form-select,
.contact-us-form-textarea {
  width: 100%;
  padding: 6px;
  background-color: hsl(115, 100%, 96%);
  border-radius: 5px;
}

.contact-us-form-select {
  cursor: pointer;
}

.contact-us-form-textarea {
  height: 96px;
  resize: none;
}

.contact-us-form-submit-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-us-form-submit {
  justify-self: center; /* override default grid item rule and place in the center */
  padding: 10px 24px;
  border: none;
  border-radius: 10px;
  background-color: var(--orange);
  color: var(--blue);
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
}

.contact-us-form-submit:hover {
  background-color: var(--yellow);
  color: var(--blue);
}

.contact-us-form-submit.disabled {
  background-color: gray;
}

.contact-us-form-submit-result {
  color: var(--blue);
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .contact-us-form-container {
    margin: 0 auto;
    width: 85%;
  }

  .contact-us-form {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    row-gap: 25px; /* larger row-gap for Desktop */
    column-gap: 50px; /* adjust this center column gap */
    padding: 40px 50px; /* larger padding for Desktop */
  }

  .contact-us-form-message-container {
    grid-column: 1 / 3; /* spread across both columns */
  }

  .contact-us-form-textarea {
    height: 160px; /* more height on the textarea for Desktop */
  }

  .contact-us-form-submit-container,
  .contact-us-form-submit {
    grid-column: 1 / 3; /* spread across both columns */
    justify-self: end; /* override default grid item rule and place at the end */
  }
}
