.signin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 60px 25px;
  background-image: url("/other/lego-background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* header */
.signin-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-header h2 {
  color: var(--blue);
}

.signin-header h3 {
  margin-top: 30px;
  color: var(--blue);
}

/* signin form */
.singin-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--yellow);
  padding: 20px 10px;
  border-radius: 5px;
  color: var(--blue);
  min-width: 300px;
  width: 100%;
}

.singin-form div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.singin-form input {
  background-color: transparent;
  padding: 5px;
  border: 1px solid var(--blue);
  border-radius: 5px;
  color: var(--blue);
}

.singin-form input:focus {
  outline: 2px solid var(--orange);
}

.signin-page button {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: 200px;
  padding: 8px 20px;
  background-color: var(--blue);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-family: var(--font);
  color: white;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.signin-page button:hover,
.signin-page button:focus {
  background-color: var(--orange);
  color: var(--blue);
}

/* register section */
.register-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--yellow);
  padding: 20px 10px;
  border-radius: 5px;
  color: var(--blue);
  min-width: 300px;
  width: 100%;
}

.register-section h3 {
  text-align: center;
}

/* social options */
.social-options {
  display: flex;
  flex-direction: column;
  background-color: var(--yellow);
  border-radius: 5px;
  padding: 1px;
  color: var(--blue);
  min-width: 300px;
  width: 100%;
}

.social-options a {
  text-decoration: none;
}

.social-options div {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}

.social-options a:hover,
.social-options a:focus {
  background-color: var(--orange);
  cursor: pointer;
}

.signin-facebook-div {
  border-bottom: 1px solid var(--blue);
}

.password-input-container {
  position: relative;
}

.password-toggle-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.password-toggle-button:hover,
.password-toggle-button:focus {
  color: var(--orange);
}

@media only screen and (min-width: 768px) {
  .singin-form,
  .register-section,
  .social-options {
    width: 600px;
  }

  .singin-form,
  .register-section {
    padding: 20px 30px;
  }
}
