.shop-item-container {
  border: none;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--blue);
  min-width: 280px;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
}

.image-container .remove-icon-container {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  background-color: #fdc920b4;
  padding: 5px;
  border-radius: 50px;
}

.image-container .remove-icon {
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* blue */
  filter: invert(12%) sepia(43%) saturate(5554%) hue-rotate(211deg)
    brightness(88%) contrast(101%);
}

.image-container .remove-icon:hover,
.image-container .remove-icon:focus {
  /* white */
  filter: invert(99%) sepia(87%) saturate(0%) hue-rotate(358deg)
    brightness(105%) contrast(101%);
  cursor: pointer;
}

.shop-items-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.shop-items-details h2 {
  font-weight: 600;
  padding: 0 !important;
}

.shop-items-details .stars {
  display: flex;
}

.shop-items-details .stars img {
  width: 20px;
  height: 20px;
  /* yellow */
  filter: invert(81%) sepia(99%) saturate(3930%) hue-rotate(331deg)
    brightness(98%) contrast(101%);
}

.shop-items-details .small-container {
  display: flex;
  gap: 15px;
}

.shop-items-details .small-container .age-container,
.shop-items-details .small-container .pieces-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.shop-items-details .small-container .age-container img,
.shop-items-details .small-container .pieces-container img {
  width: 15px;
  height: 15px;
}

.shop-items-details .category-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.shop-items-details .category-container img {
  width: 15px;
  height: 15px;
}

/* button */
.add-to-bag-button {
  width: 100%;
  padding: 8px 40px;
  background-color: var(--blue);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-family: var(--font);
  color: white;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.add-to-bag-button:hover,
.add-to-bag-button:focus {
  color: var(--blue);
  background-color: var(--yellow);
}
