.shop-item-container {
  max-width: 280px;
  border: none;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--blue);
}

.image-container {
  position: relative;
  width: 240px;
  height: 240px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.image-container .like-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  left: 10px;
}

.image-container .like-icon:hover {
  /* white */
  filter: invert(99%) sepia(87%) saturate(0%) hue-rotate(358deg)
    brightness(105%) contrast(101%);
  cursor: pointer;
}

.shop-items-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shop-items-details h2 {
  font-weight: 600;
}

.shop-items-details .small-container {
  display: flex;
  gap: 15px;
}

.shop-items-details .small-container .age-container,
.shop-items-details .small-container .pieces-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.shop-items-details .small-container .age-container img,
.shop-items-details .small-container .pieces-container img {
  width: 15px;
  height: 15px;
}

/* button */
.add-to-bag-button {
  width: 240px;
  padding: 8px 40px;
  background-color: var(--blue);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-family: var(--font);
  color: white;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.add-to-bag-button:hover {
  color: var(--orange);
  background-color: var(--yellow);
}
