@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600&display=swap");

:root {
  --font: "Exo 2", sans-serif;
  --orange: #fb6e15;
  --blue: #002d73;
  --yellow: #fdca20;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--font);
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
