.bag-items-container .shop-item-container {
  border: none;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--blue);
  width: 280px;
}

.bag-items-container .image-container {
  position: relative;
  width: 240px;
  height: 240px;
}

.bag-items-container .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.bag-items-container .remove-icon-container {
  width: 35px;
  height: 35px;
  padding: 5px;
}

.bag-items-container .remove-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* blue */
  filter: invert(12%) sepia(43%) saturate(5554%) hue-rotate(211deg)
    brightness(88%) contrast(101%);
}

.bag-items-container.remove-icon:hover,
.bag-items-container .remove-icon:focus {
  /* orange */
  filter: invert(56%) sepia(72%) saturate(3479%) hue-rotate(351deg)
    brightness(99%) contrast(100%);
  cursor: pointer;
}

.bag-items-container .shop-items-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.bag-items-container .shop-items-details h2 {
  font-weight: 600;
  padding: 0 !important;
}

.bag-items-container .shop-items-details .stars {
  display: flex;
}

.bag-items-container .shop-items-details .stars img {
  width: 20px;
  height: 20px;
  /* yellow */
  filter: invert(81%) sepia(99%) saturate(3930%) hue-rotate(331deg)
    brightness(98%) contrast(101%);
}

.bag-items-container .shop-items-details .small-container {
  display: flex;
  gap: 15px;
}

.bag-items-container .shop-items-details .small-container .age-container,
.shop-items-details .small-container .pieces-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.bag-items-container .shop-items-details .small-container .age-container img,
.bag-items-container
  .shop-items-details
  .small-container
  .pieces-container
  img {
  width: 15px;
  height: 15px;
}

.bag-items-container .shop-items-details .category-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bag-items-container .shop-items-details .category-container img {
  width: 15px;
  height: 15px;
}
.amount-container {
  display: flex;
  gap: 10px;
  font-size: 18px;
}

.amount-container .sign {
  padding: 0 5px;
  border: 1px solid var(--blue);
  border-radius: 5px;
  cursor: pointer;
  font-size: 22px;
  color: var(--blue);
}

.amount-container .sign:hover,
.amount-container .sign:focus {
  color: var(--orange);
  background-color: var(--blue);
}

.amount-container .sign:disabled {
  color: var(--grey);
  border: 1px solid var(--grey);
}

@media only screen and (min-width: 480px) {
  .bag-items-container .shop-item-container {
    width: 460px;
  }

  .bag-items-container .image-container {
    width: 420px;
    height: 420px;
  }
}

@media only screen and (min-width: 768px) {
  .bag-items-container .shop-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .bag-items-container .image-container {
    width: 160px;
    height: 160px;
  }

  .bag-items-container .image_info_container {
    display: flex;
    gap: 15px;
  }
}
