.featured-items {
  font-family: var(--font);
  color: var(--blue);
  padding: 25px;
  max-width: 1600px;
  width: 100%;
}

.featured-items h2 {
  font-size: 30px;
  font-weight: 500;
}

.featured-items-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: var(--font);
  width: 100%;
}

.featured-items-container .shop-item-container {
  min-width: 280px;
  max-width: 320px;
}

@media only screen and (min-width: 1024px) {
  .featured-items-container {
    justify-content: space-around;
    gap: 20px;
  }
}
