.featured-items {
  font-family: var(--font);
  color: var(--blue);
  padding: 25px;
  max-width: 1600px;
  width: 100%;
}

.featured-items h2 {
  font-size: 30px;
  font-weight: 500;
}

.featured-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 10px;
  font-family: var(--font);
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .featured-items-container {
    grid-gap: 20px;
  }
}

@media only screen and (min-width: 1230px) {
  .featured-items-container {
    align-content: center;
    justify-content: space-around;
    grid-template-columns: repeat(3, minmax(280px, 300px));
  }
}
