.shop-page {
  padding: 30px 10px;
  color: var(--blue);
  max-width: 1600px;
  display: block;
  margin: 0 auto;
}

.shop-page h2 {
  text-align: center;
  padding-bottom: 20px;
}

.shop-page-header .number-of-products {
  text-align: center;
  margin-bottom: 15px;
}
.shop-page-header .select-opened {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--yellow);
  z-index: 4;
  min-width: 240px;
  padding: 15px 40px;
  border-radius: 5px;
  box-shadow: 0 0 0 9999px #000000b0;
}

.shop-page-header .select-closed {
  display: none;
}

.shop-page-header .sort-select {
  display: flex;
  justify-content: space-between;
}

.shop-page-header .sort-select p {
  font-weight: 600;
  /* cursor: pointer; */
}

.shop-page-header .sort-select p:hover,
.shop-page-header .sort-select p:focus {
  color: var(--orange);
}

.sidebar-items-container .shop-items {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 10px;
  font-family: var(--font);
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .shop-page {
    padding: 40px 25px;
  }

  .shop-page .sort-select {
    position: relative;
  }

  .shop-page-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .shop-page-header select {
    width: 150px;
    text-align: right;
    cursor: pointer;
  }

  .shop-page-header .sort-select p {
    margin-right: 5px;
  }

  .shop-page-header .select-visible {
    border-radius: 5px;
    color: var(--blue);
    border-color: var(--blue);
    height: 25px;
    font-size: 15px;
  }

  .shop-page-header .number-of-products {
    margin: 0;
  }

  /* sidebar filter and shop items */
  .sidebar-items-container {
    display: flex;
    gap: 15px;
  }

  .shop-page-header .sort-select p:hover,
  .shop-page-header .sort-select p:focus {
    color: var(--blue);
  }
}

@media only screen and (min-width: 768px) {
  .sidebar-items-container .shop-items {
    grid-gap: 20px;
  }
}
