.faq-container {
  margin: -100px 25px 50px 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: var(--blue);
}

.faq-item {
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-question {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 3px;
  padding-top: 3px;
}

.faq-answer {
  font-size: 18px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  text-align: center;
}

.faq-answer.active {
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 10px;
}

@media only screen and (min-width: 480px) {
  .faq-container {
    margin: -35px 25px 50px 25px;
  }
}

@media only screen and (min-width: 768px) {
  .faq-container {
    margin: 20px 25px 50px 25px;
    width: 760px;
  }
}

@media only screen and (min-width: 768px) {
  .faq-container {
    margin: 70px 25px 70px 25px;
  }
}
